# IDE files
/.idea
/.vscode
/.gitconfig
/.settings

# OS files
.DS_Store
*.backup
*.log

# Docker
.bash_history
.wget-hsts

# Generated
*.pyc

# Buildroot
/.cache
/.ccache
/dl
/host-shared
/user
/output
/overrides
/retired
/sdk
/tmp
/toolchain
/trash
/local.mk
